@font-face {
	font-family: CustomFont;
	src: url(GreatVictorian-Standard.otf);
}
p {
	font-family: CustomFont;
	font-size: 28px;
}
h1 {
	font-family: CustomFont;
	font-size: 28px;
}
body {
	background-color: #9E3821;
}
#prvi{
	margin-left: 230;
	margin-top: -290;
}
#drugi{
	margin-left: 260;
	margin-top: -290;
}
#treci{
	margin-left: 270;
	margin-top: -430;
}
#cetvrti{
	margin-left: 270;
	margin-right: 270;
	margin-top: -420;
}
button.link { 
  background:none; 
  border:none; 
  font-size: 37px;
}
